<a href="https://colab.research.google.com/github/SupidchayaTangkidwanich/DWDM21/blob/main/Data101_(Chapter2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ข้อความที่อยู่ใน textbox จะเป็น ภาษา markdown

ข้อดีหนึ่งของ Python คือมี package 
สำหรับทำงานต่างๆมากมาย 

ซึ่ง pandas เป็น package สำหรับการทำงานกับข้อมูลที่อยู่ในรูปเเบบตาราง

โดย pandas จะเรียกตารางนั้นว่า dataframe

In [8]:
import pandas # วิธีเรียกใช้ คือ import ตามด้วยชื่อ package |pandas ไว้ใช้เก็บข้อมูล

In [9]:
import pandas as pd # เหมือนกันกับข้างบนเเต่ว่า ตั้งชื่อให้ package ที่โหลดมาใหม่ว่า pd

ไฟล์ .csv (CSV = comma separated values)
เป็นไฟล์หลักที่เราจะได้ใช้กันในวิชานี้

จะเก็บข้อมูลเป็นตารางเข้าใจง่ายๆ สามารถส่งเเล้วเปิดได้ด้วยกันทั้งหมด

In [10]:
data_df = pd.read_csv('data.csv') # ไว้ใช้โหลด data

In [11]:
data_df # เเสดงข้อมูล

    name  age       city
0    Tom   27  Khon Kaen
1   Paul   15    Bangkok
2  Sarah   49     London

In [12]:
data_df2 = pd.read_csv('data.csv') # ใน 1 cell สามารถมีได้หลายคำสั่ง
data_df2

    name  age       city
0    Tom   27  Khon Kaen
1   Paul   15    Bangkok
2  Sarah   49     London

# Basic python
## Variables คือ กล่องที่เก็บข้อมูล

ข้อกำหนดในการตั้งชื่อตัวเเปร


1.   ชื่อห้ามมีเว้นวรรค
2.   (พยายาม)ใช้ภาษาอังกฤษ 
3.   ตัวเล็กกับตัวใหญ่ เเตกต่างกัน (case sensitive)
4.   ห้ามใช้ตัวเลขเป็นตัวหน้า

In [39]:
variable_a = 12 # ข้อมูลเป็นค่าตัวเลข
variable_b = 'abcde' # ' เรียกว่า quote ไว้ใช้กับ text/string
variable_c = variable_a # ตัวเเปร

In [40]:
variable_a

12

In [41]:
variable_b

'abcde'

In [42]:
variable_c # เท่ากับ variable_a

12

### สิ่งที่ผิด

In [43]:
# ชื่อห้ามมีเว้นเวรรค
variable a = 6

SyntaxError: ignored

In [44]:
# (พยายาม)ใช้ภาษาอังกฤษ
#colab ใช้ภาษาไทยเป็นชื่อตัวเเปรได้ เเต่ไม่ควรใช้
ตัวเเปร = 3 
ตัวเเปร

3

In [45]:
# ตัวเล็กกับตัวใหญ่ เเตกต่างกัน (case sensitive)
v_a = 1
V_a = 2
print(v_a)
print(V_a)

1
2

In [46]:
# ตัวเล็กกับตัวใหญ่ เเตกต่างกัน (case sensitive)
v_a = 1
v_a = 2
print(v_a)
print(v_a)

2
2

In [47]:
# ห้ามใช้ตัวเลขเป็นตัวหน้า
2 = 1

SyntaxError: ignored

In [ ]:
# ห้ามใช้ตัวเลขเป็นตัวหน้า
2ab = 1

In [ ]:
# ห้ามใช้ตัวเลขเป็นตัวหน้า
variable1 = 1 # ทำได้เพราะเลขอยู่ข้างหลัง

In [ ]:
print(variable1)

In [ ]:
variable_a = 12 # ข้อมูลเป็นค่าตัวเลข
variable_b = 'abcde' # ' เรียกว่า quote ไว้ใช้กับ text/string
variable_c = variable_a # ตัวเเปร
variable_d = -41.2
variable_4 = "KKU" # " " เรียกว่า double quote ใช้เป็นค่า text/string

In [48]:
variable_x = variable_c + variable_d # ตัวเเปรสามารถบวกกันได้
print(variable_x) # มาตรฐานในการเเสดงค่า

-29.200000000000003

In [49]:
variable_a + variable_b  # ก็จะ error int + string ไม่สามารถบวกกันได้(ตัวเลขกับตัวหนังสือบวกกันไม่ได้)

TypeError: ignored

In [50]:
print(variable_b + variable_4) # ตัวหนังสือกับตัวหนังสือบวกกันได้ โดยการเอา string มาต่อกัน

abcdeKKU

## Casting int() floating() str() 

คือ สามารถเปลี่ยนชนิดของตัวเเปรได้

In [51]:
print(variable_x)
print(int(variable_x)) # มันจะตัดทศนิยมออกไปเลย ไม่ปัดขึ้น-ปัดลง

-29.200000000000003
-29

In [52]:
V_X = str(variable_x)
print(V_X) # เป็น str เเล้ว

-29.200000000000003

In [53]:
V_X + variable_a  # ไม่สามารถทำได้เพราะ V_X เป็น str เเล้ว

TypeError: ignored

In [54]:
variable_a + V_X # สลับที่ก็ยังคงบวกกันไม่ได้อยู่ดี เพราะ V_X เป็น str เเล้ว Variable_a เป็นตัวเลข

TypeError: ignored

In [55]:
V_X # จะบอกว่าเป็นตัวเเปรชนิดไหน

'-29.200000000000003'

In [56]:
float(V_X) # เปลี่ยนกลายเป็นตัวเลขทศนิยมเหมือนเดิมได้

-29.200000000000003

# Data Structure (โครงสร้างของข้อมูล)
### list()

คือ ตัวเลขหรือตัวเเปรมาเรียงต่อๆกัน

In [57]:
list_a = [1,2,0.2,'abs'] # [] square brackets 
list_b = [2,'xyz',list_a,[1,2,0.0]] # สามารถเก็บซ้อนลิสต์ได้

In [58]:
list_a #ลำดับมีความสำคัญ

[1, 2, 0.2, 'abs']

In [59]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [60]:
len(list_b) # len ย่อมาจาก length ใช้ดูความยาว

4

In [61]:
list_b[3] # ชี้ลิสต์ได้

[1, 2, 0.0]

In [62]:
list_b[3][1] # ชี้ซ้อนลิสต์ได้ ในทีนี้อยากชี้ลิสต์ [1,2,0.0] อยากชี้ตัวอันดับที่ 1 คือเลข 2

2

string คือ list ของ ตัวหนังสือ

In [63]:
a = 'Stat KKU'

In [64]:
a[4] # เว้นววรค

' '

### วิธีสร้าง list ว่าง

In [65]:
list_c = list() # เเบบที่ 1 
list_d = [] # เเบบที่ 2

In [66]:
list_c

[]

In [67]:
list_d

[]

เติมค่าลงไปใน list(.append())

In [68]:
list_d.append('a')

In [69]:
list_d

['a']

In [70]:
list_d.append(56)

In [71]:
list_d

['a', 56]

#### การชี้ค่าใน list (Indexing)

1.   ใช้ลำดับในการชี้
2.   ลำดับเริ่มจาก 0 
3.   สามารถชี้จากข้างหลังได้โดยใช้ negative index

In [72]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [74]:
list_b[-1] # ชี้จากข้างหลังได้

[1, 2, 0.0]

### list slicing 

คือ  การตัด list เลือกบางส่วนของ list ได้

In [75]:
list_ex = [1,2,3,5,6,8,-1,20,50,0]

เราจะตัด list โดยเอาตั้งเเต่ [ตัวหน้า:ตัวก่อนตัวหลัง]

ถ้าเป็นสัญลักษณ์คณิตศาสตร์ [ตัวหน้า:ตัวหลัง]-> [ตัวหน้า,ตัวหลัง)

In [76]:
list_ex[1:6] # อยากได้ตัวที่ 1 - 5

[2, 3, 5, 6, 8]

In [77]:
list_ex[4:] # คือเอาจนถึงตัวสุดท้าย

[6, 8, -1, 20, 50, 0]

In [78]:
list_ex[:6] # คือเอาตั้งเเต่ตัวเเรก จนถึงตัวที่ 6

[1, 2, 3, 5, 6, 8]

[จุดเริ่มต้น:จุดสุดท้าย:step]

In [81]:
list_ex

[1, 2, 3, 5, 6, 8, -1, 20, 50, 0]

In [80]:
list_ex[::2] # ตัวเเรกไปจนถึงตัวสุดท้าย step 2 คือกระโดด 2

[1, 3, 6, -1, 50]

In [82]:
list_ex[::-1] # การกลับ list

[0, 50, 20, -1, 8, 6, 5, 3, 2, 1]

In [83]:
a

'Stat KKU'

In [88]:
a[5:]

'KKU'

In [89]:
a[-3:]

'KKU'

In [92]:
a[5::]

'KKU'

In [93]:
a[5:8]

'KKU'

In [96]:
a[-3::]

'KKU'

### list + list

In [97]:
print(list_a)
print(list_b)

[1, 2, 0.2, 'abs']
[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [98]:
list_a + list_b # คือ เอา list สองอันมาต่อกันเลย

[1, 2, 0.2, 'abs', 2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

#### format string



```python
f'string{ตัวเเปร}'
```
{} เรียกว่า curly brackets

In [102]:
f'ตัวเเปร list_a มีค่าคือ {list_a}' # ภายใน {} คือ ค่า

"ตัวเเปร list_a มีค่าคือ [1, 2, 0.2, 'abs']"

## Loop เป็น การวนซ้ำ

```python
for ตัวเเปรที่จะรับค่าจากลิสต์ in ลิสต์ที่จะนำมาวนลูป:
    do something 
```

In [101]:
for i in [1,2,3,4,5]:
    print(i+1) # อันดับที่ 1

2
3
4
5
6

In [103]:
for x in [1,2,3,4,5]:
    print(f'ค่าตัวเเปร x คือ {x} เเละ x+2={x+2}')

ค่าตัวเเปร x คือ 1 เเละ x+2=3
ค่าตัวเเปร x คือ 2 เเละ x+2=4
ค่าตัวเเปร x คือ 3 เเละ x+2=5
ค่าตัวเเปร x คือ 4 เเละ x+2=6
ค่าตัวเเปร x คือ 5 เเละ x+2=7

In [104]:
list5=[1,2,3,4,5]
for x in list5:
    print(f'ค่าตัวเเปร x คือ {x} เเละ x+2={x+2}')

ค่าตัวเเปร x คือ 1 เเละ x+2=3
ค่าตัวเเปร x คือ 2 เเละ x+2=4
ค่าตัวเเปร x คือ 3 เเละ x+2=5
ค่าตัวเเปร x คือ 4 เเละ x+2=6
ค่าตัวเเปร x คือ 5 เเละ x+2=7

In [105]:
list(range(10)) # สร้าง list ที่เริ่มตั้งเเต่ 0 ถึง 9(ก่อนหน้าตัวมันเอง)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [108]:
for i in range(2,7):
    print(i) #คือเอาตั้งเเต่ 2 ถึง ตัวก่อนหน้า คือ 6

2
3
4
5
6

In [109]:
for i in range(2,7,2): # เลขตั้งเเต่ 2 จนถึง 6 เเต่กระโดดทีละ 2
    print(i)

2
4
6

In [110]:
for i in range(5):
    print('hahaha') # print  hahaha 5 รอบ

hahaha
hahaha
hahaha
hahaha
hahaha

In [111]:
for i in range(5):
    print('hahaha')
    x = i + 3
    print(f'i={i} x={x}')

hahaha
i=0 x=3
hahaha
i=1 x=4
hahaha
i=2 x=5
hahaha
i=3 x=6
hahaha
i=4 x=7

### Nested loop คือ loop ซ้อน loop

In [116]:
for i in range(3):
    print(f'now i = {i}')
    print('start j loop')
    for j in range(4): # วน j ก่อนค่อยเปลี่ยน i
        print(f'i = {i} j= {j} i+j ={i+j}')
    print('end j loop')

now i = 0
start j loop
i = 0 j= 0 i+j =0
i = 0 j= 1 i+j =1
i = 0 j= 2 i+j =2
i = 0 j= 3 i+j =3
end j loop
now i = 1
start j loop
i = 1 j= 0 i+j =1
i = 1 j= 1 i+j =2
i = 1 j= 2 i+j =3
i = 1 j= 3 i+j =4
end j loop
now i = 2
start j loop
i = 2 j= 0 i+j =2
i = 2 j= 1 i+j =3
i = 2 j= 2 i+j =4
i = 2 j= 3 i+j =5
end j loop

### Condition

#### Function